<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-title> POLIZA HEADER </mat-card-title>
    <mat-card-subtitle> POLIZA SUB HEADER </mat-card-subtitle>
    <mat-divider></mat-divider>

    <div class="partidas-panel">
      <!--
        <sx-requisicion-partidas
          [parent]="form"
          [partidas]="partidas.value"
          (delete)="onDeleteRow($event)"
          (update)="onUpdateRow($event)"
          [readOnly]="form.disabled"
        >
        </sx-requisicion-partidas>
      -->
    </div>

    <mat-divider></mat-divider>
    <mat-card-actions>
      <button mat-button type="button" (click)="cancel.emit($event)">
        Cancelar
      </button>
      <button
        mat-button
        [disabled]="form.invalid || form.pristine"
        *ngIf="!form.disabled"
      >
        <mat-icon>save</mat-icon> Salvar
      </button>
    </mat-card-actions>
  </mat-card>
</form>
