.container {
  height: 100%;
  // border: 3px solid yellow;
  padding: 0px;
  margin: 0px;
}
.mat-card {
  position: relative;
  // border: 3px solid red;
  // height: 100%;
  padding: 0px 5px 0px 5px;
  margin: 0px 5px 0px 5px;
}
.table-container {
  position: absolute;
  //border: 1px solid pink;
  height: 80%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

td-data-table {
  // height: 100%;
  // border: 1px solid black;
}

