<div layout="column">
  <mat-card flex>
    <div layout layout-align="start center" class="pad">
      <span class="mat-title pad-right">Auixiliar contable</span>

      <div class="pad-left info" *ngIf="rango" layout="column">
        <div layout>
          <span class="pad-left pad-bottom">De: </span>
          <span class="pad-left pad-bottom">{{
            rango.cuentaInicial?.clave
          }}</span>
          <span class="pad-left">({{ rango.cuentaInicial?.descripcion }})</span>
        </div>

        <div layout>
          <span class="pad-left">A: </span>
          <span class="pad-left">{{ rango.cuentaFinal?.clave }}</span>
          <span class="pad-left">({{ rango.cuentaFinal?.descripcion }})</span>
        </div>
      </div>

      <span flex></span>
      <button
        mat-button
        mat-icon-button
        matTooltip="Genera auxiliar de bancos"
        (click)="generar()"
      >
        <mat-icon color="accent">play_for_work</mat-icon>
      </button>
      <button
        mat-button
        mat-icon-button
        (click)="grid.exportData()"
        matTooltip="Exportar a CSV"
      >
        <mat-icon color="primary">file_download</mat-icon>
      </button>

      <span>
        <button mat-icon-button [matMenuTriggerFor]="toolbarMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #toolbarMenu="matMenu">
          <button mat-menu-item class="actions" (click)="reload()">
            <mat-icon>refresh</mat-icon> Recargar
          </button>
          <button mat-menu-item class="actuibs" (click)="printAuxiliar()">
            <mat-icon>print</mat-icon> Imprimir
          </button>
        </mat-menu>
      </span>
    </div>
    <mat-divider></mat-divider>
    <ng-template
      tdLoading
      [tdLoadingUntil]="!(loading$ | async)"
      tdLoadingStrategy="overlay"
    >
    </ng-template>
    <div class="movimientos-panel">
      <sx-auxiliar-table
        [partidas]="movimientos$ | async"
        #grid
      ></sx-auxiliar-table>
    </div>
  </mat-card>
</div>
