<mat-card>
  <div mat-title layout>
    <div layout layout-align="start center" class="pad-left-sm pad-right-sm">
      <span class="push-left-sm">
        <span class="mat-title">{{ title }}</span>
      </span>
    </div>
    <span flex></span>
  </div>

  <mat-card-subtitle *ngIf="cuenta">
    <div layout>
      <span>
        Padre: {{ cuenta?.padre?.descripcion }} ({{ cuenta?.padre?.clave }})
      </span>
      <span flex></span> <span>Última modificación:</span>
      <span>{{ cuenta?.lastUpdated | date: 'dd/MM/yyyy HH:mm' }}</span>
      <span class="pad-left">Usuario: {{ cuenta?.updateUser }}</span>
    </div>
  </mat-card-subtitle>
  <mat-divider></mat-divider>

  <mat-card-content>
    <form [formGroup]="form">
      <div layout>
        <mat-form-field flex>
          <input
            matInput
            placeholder="Clave"
            autocomplete="off"
            formControlName="clave"
            type="text"
            mask="AAA-AAAA-AAAA-AAAA"
            [dropSpecialCharacters]="false"
          />
          <mat-error>Clave incorrecta</mat-error>
        </mat-form-field>
        <mat-form-field flex class="pad-left">
          <input
            matInput
            type="number"
            placeholder="Nivel"
            formControlName="nivel"
            autocomplete="off"
          />
        </mat-form-field>
        <mat-form-field flex class="pad-left">
          <input
            matInput
            type="number"
            placeholder="Sub cuentas"
            [value]="cuenta?.subcuentas?.length"
            [disabled]="true"
          />
        </mat-form-field>
      </div>
      <div layout>
        <sx-upper-case-field
          formControlName="descripcion"
          autocomplete="off"
          placeholder="Descripción"
          flex
        >
        </sx-upper-case-field>
      </div>
      <div layout>
        <sx-naturaleza-field [parent]="form" flex></sx-naturaleza-field>
        <sx-tipo-cuenta-field
          [parent]="form"
          flex
          class="pad-left"
        ></sx-tipo-cuenta-field>
        <sx-subtipo-cuenta-field
          [parent]="form"
          flex
          class="pad-left"
        ></sx-subtipo-cuenta-field>
      </div>
      <div layout>
        <sx-cuenta-sat-field formControlName="cuentaSat" flex>
        </sx-cuenta-sat-field>
      </div>
      <div layout class="pad-top">
        <mat-checkbox formControlName="deResultado" flex
          >De resultado</mat-checkbox
        >
        <mat-checkbox formControlName="detalle" flex class="pad-left"
          >Detalle</mat-checkbox
        >
        <mat-checkbox
          formControlName="presentacionFinanciera"
          flex
          class="pad-left"
          >Presentación financiera</mat-checkbox
        >
      </div>
      <div layout class="pad-top">
        <mat-checkbox formControlName="presentacionFiscal" flex
          >Presentación fiscal</mat-checkbox
        >
        <mat-checkbox
          formControlName="presentacionContable"
          flex
          class="pad-left"
          >Presentación contable</mat-checkbox
        >
        <mat-checkbox
          formControlName="presentacionPresupuestal"
          flex
          class="pad-left"
          >Presentación presupuestal</mat-checkbox
        >
      </div>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button type="button" (click)="cancel.emit()">Cancelar</button>
    <button
      mat-button
      (click)="onSubmit()"
      color="primary"
      [disabled]="form.invalid || form.pristine"
    >
      <mat-icon>save</mat-icon> Salvar
    </button>
    <button
      mat-button
      type="button"
      (click)="agregar.emit(cuenta)"
      *ngIf="cuenta && !cuenta.detalle"
    >
      <mat-icon></mat-icon> Agregar subcuenta
    </button>
    <button
      mat-button
      type="button"
      (click)="delete.emit(cuenta)"
      color="warn"
      *ngIf="cuenta?.subcuentas?.length === 0 || !cuenta?.subcuentas"
    >
      <mat-icon>delete</mat-icon> Eliminar
    </button>
  </mat-card-actions>
</mat-card>
